$media-xs: 0;
$media-sm: 480px;
$media-md: 640px;
$media-lg: 900px;
$media-xl: 1200px;
$media-tv: 1680px;

$color-dark: rgb(16, 17, 49);
$color-light: #FFFFFF;
$color-link: $color-dark;

$color-heading: rgb(87, 88, 110);
$color-body: rgb(16, 17, 49);
$color-header: rgb(16, 17, 49);

$bg-color: #F9F7FE;

$shape-width: 80px;
$shape-height: 80px;
